# Pandas01_datafram索引中的注意点

In [1]:
from pandas import DataFrame

In [2]:
mas = [[ 0.,  1.,  2.,  3.],
        [ 8., 10., 12., 14.],
        [24., 27., 30., 33.]]
df = DataFrame(mas)
df

      0     1     2     3
0   0.0   1.0   2.0   3.0
1   8.0  10.0  12.0  14.0
2  24.0  27.0  30.0  33.0

In [3]:
df1 = df.iloc[:,-1]
df1

0     3.0
1    14.0
2    33.0
Name: 3, dtype: float64

In [4]:
df2 = df.iloc[:,[-1]]
df2

      3
0   3.0
1  14.0
2  33.0

In [5]:
print(df1.shape)
print(df2.shape)

(3,)
(3, 1)

## 注意：

- df.iloc[:,-1]：取出来的是Series格式，是一维的，即(3,)。

- df.iloc[:,[-1]]: 取出来的是Datafram格式，是二维的，即(3, 1)。